.my-container{
    background-color: white;
    padding: 5%;
}

.row-1{
    background-color: goldenrod;
}

.block{
    background-color: gold;
    height: 150px;
}
p{
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: larger;
    padding: 30%;
}
